h1,h2,h3,h4,h5,h6 {
    color:white;
}

body {
    font-family: "Montserrat";
}


.row, .high {
    color: white;
    line-height:35px;
    word-wrap:break-word;
}

.high:hover {
    background-color: #8E3656;
    cursor: pointer;
    border-radius:17.5px;
}

.back-g {
    background-color: rgba(51,51,51,.5);
    border-radius: 50px;
    padding: 2em;
}

.letters {
    text-align: center;
    color:white;
    font-size:1.2em;

}

.letters a {
    color: white;
}
